* {
    font-family: poppins;
}

/* navbar */
.navbar {
    background-color: #fff;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25);
}
.navbar .navbar-brand {
    color: #6a6cff;
    font-weight: 600;
}

.navbar ul li a {
    color: #75808e;
    transition: all ease-in-out 0.4s;
}

.navbar ul li a:hover {
    transition: all ease-in-out 0.4s;
    color: #BD86BE;
    text-decoration: underline #BD86BE 1px;
}

.navbar .btn-daftar {
    background-color: #BD86BE;
    border: none;
    color: #fff;
    border-radius: 4px;
    padding: 8px 20px;
}

/* layanan */
#layanan{
    margin-top:114px;
}
#layanan .card{
    border:none;
}
#layanan .card p{
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    margin-left:10px;
}


/* hero */
#hero {
    margin-top: 150px;
}
#hero h1 {
    color: rgba(67, 67, 67, 1);
    font-family:sans-serif;
    font-weight: 600;
}
#hero h1 span{
    font-family:sans-serif;
    color: #BD86BE;
}
#hero p {
    font-size: 16px;
    color: #acacac;
}
#hero .btn-hub {
    text-decoration:none;
    border: none;
    margin-top: 14px;
    background-color: #BD86BE;
    padding: 16px 30px;
    font-weight: 600;
    color: #fff;
    border-radius: 4px;
}
#hero img {
    border-radius: 120px 4px 4px 10px;
}

/* daftardokter */
#daftardokter {
    margin-top: 100px;
    background-color:rgba(235, 237, 249, 1);
    padding:50px 0px 100px 0px;
}
#daftardokter .title {
    font-family: Poppins;
    font-size: 34px;
    font-weight: 600;
    margin-top:20px;
    line-height: 20px;
    letter-spacing: 0em;
    color: #BD86BE;
}
#daftardokter .subtitle {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
}
#daftardokter .card {
    border: 1px solid rgba(0, 0, 0, 0.25);
    margin: 20px 0px;
    transition: all ease-in-out 0.4s;
}
#daftardokter .card:hover{
    border: 1px solid #BD86BE;
    transition: all ease-in-out 0.4s;
    margin: 20px 0px;
}
#daftardokter .card .gambar {
    overflow:hidden;
    border-radius:5px 5px 0px 0px;
}
#daftardokter .isicard{
    padding:20px;
}
#daftardokter .isicard .btn-daftar{
    display:inline-block;
    width:100%;
    color:#fff;
    border-radius:4px;
    padding:9px;
    margin-top:24px;
    border:none;
    background-color:#BD86BE;
    transition: all ease-in-out 0.4s;
}
#daftardokter .isicard .btn-daftar:hover{
    background-color:#fff;
    color:#BD86BE;
    transition: all ease-in-out 0.4s;
}
#daftardokter .isicard .nama-dokter{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    margin-bottom:4px;
}
#daftardokter .isicard .no-telp{
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
}


/* kontak */
#kontak{
    padding:50px 0px 30px 0px;
}
#kontak .lokasi {
    border-radius:4px;
    border: 4px solid #BD86BE;
}
#kontak .card{
    border:none;
}
#kontak .card .title{
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0em;
    margin-bottom:30px;
    text-align: left;
    color:rgba(67, 67, 67, 1);
}
#kontak .card p{
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color:rgba(67, 67, 67, 1);
}
#kontak i{
    width:17px;
}
#kontak a{
    text-decoration:none;
    color:rgba(67, 67, 67, 1);
    transition:0.4s all ease-in-out;
}

#kontak a:hover, #kontak p:hover{
    transition:0.4s all ease-in-out;
    text-decoration:none;
    color:#BD86BE;
}




@media (max-width: 575.98px) {
    #hero {
        margin-top: 40px;
        padding: 0px 16px;
    }
    #hero img {
        border-radius: 20px;
        margin-bottom: 30px;
        margin-top: 60px;
    }
    #about .card {
        border: none;
        border-radius: 74px 4px 4px 10px;
        padding: 30px;
        margin: 20px 10px;
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);
    }
    #kontak {
        padding: 20px 10px;
    }
}
